# Opening the DataFrame

In [117]:
import pandas as pd 
raw_data = pd.read_csv("Times.csv")
raw_data["Day"]
raw_data.head()

        App  Time        Day
0  Hangouts  4:28  04/9/2020
1   Twitter  0:47  04/9/2020
2   Discord  3:01  03/9/2020
3     Gmail  1:03  03/9/2020
4   YouTube  0:40  03/9/2020

# Setting the Time and Day columns to datetime object and getting total time in minutes from each App

In [118]:
raw_data["Day"] = pd.to_datetime(raw_data["Day"], format="%d/%m/%Y")
hours = (pd.to_datetime(raw_data["Time"], format="%H:%M").dt.hour)*60
minutes = (pd.to_datetime(raw_data["Time"], format="%H:%M").dt.minute)
total = hours + minutes
raw_data["Sum"] = total
raw_data.head()

        App  Time        Day  Sum
0  Hangouts  4:28 2020-09-04  268
1   Twitter  0:47 2020-09-04   47
2   Discord  3:01 2020-09-03  181
3     Gmail  1:03 2020-09-03   63
4   YouTube  0:40 2020-09-03   40

# Indexing the Dataframe with Days and Apps

In [119]:
final = raw_data.set_index(["Day", "App"]).drop(["Time"], axis=1)
final.head()

                     Sum
Day        App
2020-09-04 Hangouts  268
           Twitter    47
2020-09-03 Discord   181
           Gmail      63
           YouTube    40

# Total screentime for each day

In [120]:
final.sum(level='Day').sort_values(by="Sum", ascending=False).head()

            Sum
Day
2020-09-04  315
2020-09-03  284
2020-09-11  190
2020-09-10  119
2020-09-02  107

# Total screentime for each App

In [121]:
final.sum(level='App').sort_values("Sum", ascending=False).head()

             Sum
App
Hangouts     320
Discord      181
Twitter      146
Gmail        129
Prime Video  109

## Since I plan to visualize this data alongside with other things in Tableau, I'll export a .csv with this Dataframe

In [122]:
final.head(10)

                        Sum
Day        App
2020-09-04 Hangouts     268
           Twitter       47
2020-09-03 Discord      181
           Gmail         63
           YouTube       40
2020-09-02 Twitter       46
           WhatsApp      41
           Instagram     20
2020-09-01 Twitter       24
           Prime Video   22

In [114]:
final.to_csv("final.csv")